@model IGoDeliverAdmin.Models.Dish

@{
    ViewBag.Title = "Details";
}

<h2>菜品明细</h2>

<fieldset>
    <legend>Dish</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Spiciness)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spiciness)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Restaurant.RestaurantName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Restaurant.RestaurantName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
