@model IGoDeliverAdmin.Entity.Dish

@{
    ViewBag.Title = "Edit";
}

<h2>菜品编辑</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dish</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            菜品
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            价格
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            有效期自 (YYYY-MM-DD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>

        <div class="editor-label">
            有效期至 (YYYY-MM-DD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndTime)
            @Html.ValidationMessageFor(model => model.EndTime)
        </div>

        <div class="editor-label">
            辣度
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Spiciness)
            @Html.ValidationMessageFor(model => model.Spiciness)
        </div>
        <div class="imageTable">
            <table>
                <tbody>
                    <tr>
                        @foreach (var picture in Model.DishPictures)
                        {
                            <img alt="Item Picture" class="picture-cell" src="@picture.PictureOfDish.Path" />
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            @Html.ActionLink("添加和管理菜品图片", "ManagePicture", new { id = Model.Id })
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回餐馆编辑界面", "Edit", "Restaurant", new { id = Model.RestaurantId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
